@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before{
  box-sizing: border-box;
}

:root {
  --foreground-color: 200, 100%, 10%; 
  --foreground-secondary-color: 200, 100%, 20%
  --even-row-color: 200, 60%, 70%
  --odd-row-color: 200, 60%, 75%
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #383838 0%, #9E9E9E 100%);  
  color: white;
  font-family: 'Poppins', sans-serif;
}